*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header{
	padding: 10px 20px;
	width:100vw;
}

main{
	background-color: rgba(206, 206, 206, 0.808);
	width:100vw;
	height:100vh;
	padding:35px 30px 10px;
}


ul{
	margin:5px 0px;
	list-style: none;
}


.logo-description{
	font-size: 40px;
	font-weight:700;
}


.add-input{
	padding:5px;
	border-radius:5px;
	width:auto;
	display:inline;
	font-size: 10px;
	margin-right:5px;
}

.main-element{
	width:80%;
	background-color: rgb(255, 255, 255);
   margin:2px auto;
	border-radius: 3px;
	padding:20px 40px;
}

.section-title{
	color:rgb(71, 71, 71);
	margin-top:20px;
}

.checkmark{
	width:20px;
	vertical-align:middle;
}

.tag{
	display: inline-block;
	padding: 7px;
	border-radius:15px;
	margin-left:5px;
	color:white;

}

#main-logo{
	vertical-align:bottom;
}

#input-adds{
	height:7%;
	padding:15px 30px 5px;
}

#add-task{
	color:white;
	background-color:rgb(59, 59, 255);
}

#add-section{
	color:grey;
	border: 1px solid grey;
}

#editorial-tag{
	background-color: rgb(82, 99, 248);
}

