*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header{
	padding: 10px 20px;
	width:100vw;
}

main{
	background-color: rgba(206, 206, 206, 0.808);
	width:100vw;
	height:100vh;
	padding:35px 30px 10px;
}


.logo-description{
	font-size: 40px;
	font-weight:700;
}

#main-logo{
	vertical-align:bottom;
}

#input-adds{
	width:80%;
	height:7%;
	background-color: rgb(255, 255, 255);
   margin:0 auto;
	padding:15px 30px 5px;
	border-radius: 3px;
}

.add-input{
	padding:5px;
	border-radius:5px;
	width:auto;
	display:inline;
	font-size: 10px;
	margin-right:5px;
}

#add-task{
	color:white;
	background-color:rgb(59, 59, 255);
}

#add-section{
	color:grey;
	border: 1px solid grey;
}

