*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
	font-family: 'Licorice', cursive;
	font-family: 'Merriweather', serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
}

header{
	padding: 10px 20px;
	width:100vw;
}

main{
	background-color: rgba(235, 235, 235, 0.808);
	width:100vw;
	padding:35px 30px 10px;
}


ul{
	margin:5px 0px;
	list-style: none;
}

li{
	margin-top:15px;
	font-weight: 600;
}


.logo-description{
	font-size: 40px;
	font-weight:700;
}

.add-input{
	padding:5px;
	border-radius:5px;
	width:auto;
	display:inline;
	font-size: 10px;
	margin-right:5px;
}

.main-element{
	width:80%;
	background-color: rgb(255, 255, 255);
   margin:2px auto;
	border-radius: 3px;
	padding:20px 40px 50px;
	color:rgb(54, 54, 54);
}

.section-title{
	margin-top:20px;
}

.checkmark, .redcross{
	width:20px;
	vertical-align:middle;
	margin-right:5px;
}


.tag{
	display: inline-block;
	padding: 5px 10px;
	border-radius:15px;
	margin-left:5px;
	font-size:12px;
	color:white;

}

.editorial-tag{
	background-color: rgb(59, 160, 255);
}

.q1goals-tag{
	background-color: rgba(163, 92, 230, 0.993);
}

.recruiting-tag{
	background-color: rgb(82, 190, 82);
}

.mobile-tag{
	background-color: rgb(224, 170, 69);
}

.website-tag{
	background-color: rgb(199, 85, 151);
}

.sales-tag{
	background-color:rgb(159, 175, 71);
}

#main-logo{
	vertical-align:bottom;
}

#input-adds{
	height:7%;
	padding:15px 30px;
}

#add-task{
	color:white;
	background-color:rgb(59, 160, 255);
}

#add-section{
	color:rgb(172, 172, 172);
	border: 1px solid rgb(163, 163, 163);
}

